[
{
"name" : "aes - sparc_64" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "sparc_64"
}
,
{
"name" : "aes - sparc_32" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "sparc_32"
}
,
{
"name" : "aes - x86_32" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "x86_32"
}
,
{
"name" : "aes - x86_64" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "x86_64"
}
,
{
"name" : "aes - x86_16" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "x86_16"
}
,
{
"name" : "aes - x86_16_huge" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "x86_16_huge"
}
,
{
"name" : "aes - armeb_eabi" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "armeb_eabi"
}
,
{
"name" : "aes - arm_eabi" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "arm_eabi"
}
,
{
"name" : "aes - aarch64" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "aarch64"
}
,
{
"name" : "aes - aarch64eb" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "aarch64eb"
}
,
{
"name" : "aes - rv64ifdq" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "rv64ifdq"
}
,
{
"name" : "aes - rv32ifdq" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "rv32ifdq"
}
,
{
"name" : "aes - mips_o32" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "mips_o32"
}
,
{
"name" : "aes - mips_n32" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "mips_n32"
}
,
{
"name" : "aes - mips_64" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "mips_64"
}
,
{
"name" : "aes - mipsel_64" ,
"files" : ["test.c", "ctaes.c"] ,
"machdep" : "mipsel_64"
}
]
